<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrderStatusWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AccessUps" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\LifeIsABoxOfChocolats2\OrderStatusData\AccessFiles\ups.mdb"/>
    <add name="AccessUsps" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\LifeIsABoxOfChocolats2\OrderStatusData\AccessFiles\galaxy.mda"/>
    <add name="orderstatusEntities" connectionString="metadata=res://*/StoreContext.csdl|res://*/StoreContext.ssdl|res://*/StoreContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;Persist Security Info=True;database=orderstatus&quot;" providerName="System.Data.EntityClient" />
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer"
         connectionString="Datasource=localhost;Database=OrderStatus;uid=root;pwd=admin;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <system.web>
    <roleManager enabled="true" />
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySQLMembershipProvider"
        autogenerateschema="true"
        type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
        connectionStringName="LocalMySqlServer"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        applicationName="/"
        requiresUniqueEmail="true"
        passwordFormat="Clear"
        maxInvalidPasswordAttempts="5"
        minRequiredPasswordLength="3"
        minRequiredNonalphanumericCharacters="0"
        passwordAttemptWindow="10"
        passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>


    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <OrderStatusWeb.Properties.Settings>
      <setting name="OrderStatusWeb_com_3dcart_api_cartAPI" serializeAs="String">
        <value>http://api.3dcart.com/cart.asmx</value>
      </setting>
    </OrderStatusWeb.Properties.Settings>
  </applicationSettings>
</configuration>

